.bg-img {
  /* The image used */
  background-image: url("../images/banner.jpg");

  min-height: 80px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /* Needed to position the navbar */
  position: relative;
}
.navbar-header
{
  font-size: 200px !important;
}
.navbar-brand
{
  font-size: 300px !important;
}

.form-inline > * {
   margin:5px 3px;
}