{% extends "main.html" %}

{% block content %}
{% if data %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script>
    var data =JSON.parse ({{ data|tojson }})
    var stock_name = '{{stock_name|safe}}';
    var trace = {
      x: data['date'],
      close: data['close'],
      high: data['high'],
      low: data['low'],
      open: data['open'],
      name: 'candle',
      // cutomise colors
      increasing: {line: {color: 'green'}},
      decreasing: {line: {color: 'red'}},

      type: 'candlestick',
      xaxis: 'x',
      yaxis: 'y'
    };
    var trace1={
      x:data['date'],
      y:data['ema'],
      name:'EMA',
      line:{color: '#00FFFF'}
    }


    var data = [trace,trace1];

    var layout = {
      dragmode: 'zoom',
      showlegend: false,
      xaxis: {
        autorange: true,
        title: stock_name,
        rangeselector: {
          x: 0,
          y: 1.2,
          xanchor: 'left',
          font: {size:10},
          buttons: [{
            step: 'month',
            stepmode: 'backward',
            count: 1,
            label: '1 month'
          }, {
            step: 'month',
            stepmode: 'backward',
            count: 6,
            label: '6 months'
          }, {
            step: 'all',
            label: 'All dates'
          }]
        }
      },
      yaxis: {
        autorange: true,
      }
    };
    Plotly.plot('stockChart', data, layout);

  </script>
  <script src="{{ url_for('static', filename='js/my_stock.js') }}"></script>


{% else %}
    <h1>Hello User</h1>
    <script>console.log("no data");</script>
{% endif %}

{% endblock %}
